# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xcuserstate
*.hprof

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# testing
coverage/

# build
build/
*.apk
*.aab
*.ipa

# temporary files
*.swp
*.swo
tmp/
temp/

# logs
logs
*.log

app-example
